{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>heros</title>
	<style>
		*
		{
			margin: 0px;
		}
		div
		{
			background-color: black;
			text-align: center;
			padding: 15px;
		}
		div>a
		{
			text-decoration: none;
			color: blue;
			background-color: orange;
			width: 100px;
			display: inline-block;
			margin: 10px;
			padding: 7px 10px;
			border-radius: 10px;
		}
		div>a:hover
		{
			box-shadow: 0 0 10px white;
		}
		h2
		{
			background-color: red;
		}
		img
		{
			width: 200px;
		}
	</style>
</head>
<body>
	<div>
		<a href="TOLLYWOOD HEROES">Home</a>
		<a href="Ntr">Ntr</a>
		<a href="#">Balayya</a>
		<a href="#">Chiru</a>
		<a href="#">Ramcharan</a>
	</div>
	<h2 align="center">TOLLYWOOD HEROES</h2>
	<p>The Telugu cinema industry, which is located in the Indian states of Andhra Pradesh and Telangana, is referred to informally as “Tollywood.” It is one of India’s biggest film industries, producing Telugu-language films. The term “Tollywood” is a combination of the words “Telugu” and “Hollywood,” as the Telugu film industry is sometimes contrasted with the Hollywood film industry in terms of its size and level of popularity.</p>
	<img src="{% static 'images/all.png' %}">
	<img align="right" src="{% static 'images/all.png' %}">
	<p>we have compiled the best of all Telugu heroes profiles just for you. These Tollywood actors are among the top trending ones in their own realm. So let’s check out the top trending Telugu Heroes and movie actors list. These include the new heroes and upcoming fresh actors and established the best actors in Tollywood.</p>

	<h2 align="center">Ntr</h2>
	<p>
		N. T. Rama Rao Jr., Also Known As Jr. NTR, Is An Indian Actor, Singer, And Dancer Who Primarily Works In Telugu Cinema. He Is The Grandson Of The Legendary Telugu Actor And Politician N. T. Rama Rao. Jr. NTR Made His Acting Debut In 2001 With The Film Ninnu Choodalani. He Is One Of The Most Popular And Highest-Paid Actors In The Telugu Film Industry. He Has Won Several Awards For His Performances, Including Three Filmfare Awards.
	</p>
	<img src="{% static 'images/ntr1.jpg' %}">
	<img align="right" src="{% static 'images/ntr2.jpg' %}">
	<p>
		They have an arranged marriage story. Yes, the RRR actor's marriage was fixed by his parents. They got married in Hydrabad and it's a grand wedding surrounded by friends and family. Despite being strangers to each other, with the help of adjustment and love, they are today a happy and successful couple of Tollywood.
	</p>

	<h2 align="center">rashmika mandanna</h2>
	<p>
		rashmika mandanna, also known as masshead or simply rashmika mandanna, is an Indian film actor and politician known for his works mainly in Telugu cinema. He is the sixth son of Telugu film actor and former Chief Minister of Andhra Pradesh N. T. Rama Rao. He entered the film industry as a child artist at the age of fourteen with the film Tatamma Kala (1974).
	</p>
	<img src="{% static 'images/rm1.jpg' %}">
	<img align="right" src="{% static 'images/rm2.jpg' %}">
	<p>
		rashmika mandanna is known for his dialogue delivery skills and has acted in more than a hundred feature films in a variety of roles. Ever since the Telugu Desam Party formation, Balakrishna always campaigned for it in every election but never entered the electoral battle.
	</p>

	<h2 align="center">kalyani priyadarshan </h2>
	<p>
		kalyani priyadarshan is a popular Tollywood film personality. she has received the Padma Bhushan award, the second-highest Padma award bestowed by the Government of India. He is the only Tollywood actor to receive seven Filmfare Best Actor awards. On August 26, he made his formal political debut and founded the Praja Rajyam political party.
	</p>
	<img src="{% static 'images/kp1.jpg' %}">
	<img align="right" src="{% static 'images/kp2.jpg' %}">
	<p>
		Vara Prasad is the son of the late Sri Venkat Rao and Srimathi Anjana Devi. He was born on August 22, 1955, in Mogallturu, a town on the banks of River Godavari in the West Godavari District of Andhra Pradesh, India. His father worked as a constable and got transferred on a regular basis. He spent his childhood in his native village with his grandparents.
	</p>

	<h2 align="center">Ramcharan</h2>
	<p>
		Tollywood, also known as the Telugu film industry, is another famous film industry in India. The popularity of the Tollywood film industry is increasing day by day because of the movies made in Tollywood are competing with the world cinema. In the Telugu film industry, many actors and actresses work, and out which some get the tag of superstar. Today in this article, we discuss one such superstar of the Telugu film industry whose popularity is at the top and whose fan following is in millions. Today in this article, we discuss the biography of none other than Ram Charan.
	</p>
	<img src="{% static 'images/Ram.jpg' %}">
	<img align="right" src="{% static 'images/ram1.jpeg' %}"height=300px width="300px">
	<p>
		There are many actors who work in the Telugu film industry or in Tollywood, but Ram Charan is one of the most popular actors in Tollywood. He is one of the top paid actors in the Telugu film industry. Apart from being a successful actor, he is also a successful film producer and entrepreneur. 
	</p>
</body>
</html>